// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

@import url('<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap>');


@font-face {
	src: url(../assets/fonts/Avenir-Black.otf);
	font-family: "Avenir Black";
  }
  @font-face {
	src: url(../assets/fonts/Avenir-Book.otf);
	font-family: "Avenir Book";
  }
  @font-face {
	src: url(../assets/fonts/Avenir-Light.otf);
	font-family: "Avenir Light";
  }
  @font-face {
	src: url(../assets/fonts/Avenir-Medium.otf);
	font-family: "Avenir Medium";
  }
  @font-face {
	src: url(../assets/fonts/Avenir-Roman.otf);
	font-family: "Avenir Roman";
  }

body {
	font-family: "Avenir Book";
}

.PgTitle {
	font-family: "Avenir Black";
}
h2, h3 {
	font-family: "Avenir Medium";
}
.btn{
	font-family: "Avenir Roman";
}



@mixin ripple  {
  position: relative;
  overflow: hidden;
	transform: translate3d(0, 0, 0);
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
		background-repeat: no-repeat;
		background-position: 50%;
		transform: scale(10, 10);
		opacity: 0;
		transition: transform .5s, opacity 1s;
	}

	&:active:after {
		transform: scale(0, 0);
		opacity: .3;
		transition: 0s;
	}
}

@mixin glossy-button {
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		height: 55%;
		border-radius: 25px;
		background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2));
	}
}

.BtnPurple {
	background: #1F1F1F !important;
	font-size: 14px;
	color: #fff !important;
	letter-spacing: 1px;
	border: 0 !important;
	position: relative;
  overflow: hidden;
	transform: translate3d(0, 0, 0);
	box-shadow: none !important;
	outline: 0 !important;
	border-radius: 25px;
	position: relative;
	padding: 7px 18px;
	
	@include ripple;
	@include glossy-button;
}

.BtnPurpleOutline {
	background: #fff !important;
	font-size: 14px;
	color: #1F1F1F !important;
	letter-spacing: 1px;
	border: 1px solid #1F1F1F !important;
	position: relative;
  overflow: hidden;
	transform: translate3d(0, 0, 0);
	box-shadow: none !important;
	outline: 0 !important;
	border-radius: 25px;
	position: relative;
	
	@include ripple;
}
.BtnPurpleDisabled {
	background: #fff !important;
	font-size: 14px;
	color: #1F1F1F !important;
	letter-spacing: 1px;
	border: 1px solid #1F1F1F !important;
	position: relative;
  overflow: hidden;
	transform: translate3d(0, 0, 0);
	box-shadow: none !important;
	outline: 0 !important;
	border-radius: 25px;
	position: relative;
	padding: 7px 18px;
	
	@include ripple;
}

.TruFansPgBg {
	background: #f5f6f8;
	min-height: unset;
	height: calc(100vh - 105px);
	overflow: auto;
	padding: 0 15px;
}

.PgTitle {
	margin: 25px 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h2 {
		font-weight: 700;
		color: #1F1F1F;
		letter-spacing: 0.3px;
		margin-bottom: 0;
	}
}

.customBackBtn {
	padding: 4px 6px 2px 2px;
	font-size: 20px;
	color: #3c4b64 !important;
	margin-right: 10px;
	line-height: 1;
	background: transparent !important;
	border: 1px solid transparent !important;
	box-shadow: none !important;
}

label {
	color: #3c4b64;
	margin-bottom: 4px;
	letter-spacing: 0.3px;
}

.form-control {
	color: #3c4b64;
	letter-spacing: 0.3px;
	font-size: 14px;
	padding: 6px 10px;
}

.adminTable {
	border-radius: 6px;
	box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.table {
	thead {
		background: #fff;
	}

	thead th:first-child{
		border-top-left-radius: 6px;
	}

	thead th:last-child {
		border-top-right-radius: 6px;
	}

	thead th {
		border-bottom-width: 2px;
		border-bottom-color: #1F1F1F;
		border-top: 0;
		font-size: 14px;
		color: #5a6169;
		font-weight: 600;
		background: #fff;
	}

	tbody tr:last-child td:first-child {
		border-bottom-left-radius: 6px;
	}

	tbody tr:last-child td:last-child {
		border-bottom-right-radius: 6px;
	}

	tbody td {
		vertical-align: middle;
		font-size: 14px;
		color: #5a6169;
		font-weight: 400;
		background: #fff;
	}

	.form-control {
		padding: 4px 5px;
		font-size: 14px;
		letter-spacing: 0;
	}

	.btn {
		font-size: 14px;
	}

	tbody span {
		text-decoration: underline;
		cursor: pointer;
		text-decoration-color: #1F1F1F;
	}
}

.badge-warning {
	background-color: #f9bb00;
}

.breadcrumb {
	margin-bottom: 0;
}

.main .container-fluid {
	padding: 0;
}

.powered-by a {
	color: #FF7300;
	text-decoration: none !important;
	display: inline-block;
	margin-left: 3px;
}

.app-footer {
	color: #555;
	letter-spacing: 0.3px;
}

.SocialLinksFooter {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	a {
		text-decoration: none !important;
		color: #555 !important;
		display: inline-block;
		margin-left: 10px;
	}
}

.LoginFooter a {
	color: #fff !important;
}

.modal-header, .modal-footer {
	padding: 0.6rem 1rem 0.5rem;
	border-color: rgba(0,0,0,0.1);
	letter-spacing: 0.5px;
}

.modal-footer {
	padding: 0.65rem 1rem 0.6rem;

	.btn {
		letter-spacing: 1px;
	}
}

.modal-title {
	font-size: 20px;
	color: #3c4b64;
}

.modal-body {
	color: #3c4b64;
}

.modal-header .close {
	padding: 0.5rem 1rem;
	margin: -0.2rem -1rem -1rem auto;
	font-size: 20px;
	outline: 0 !important;
}

// spinner 
.spinnerWrap {
	display: block;
	text-align: center;
	margin-top: 30px;
}

// header & side menu css
.navbar-nav .nav-link.active {
	color: #1F1F1F;
	font-weight: 600;
}

.app-header {
	.nav-item .nav-link {
		font-size: 14px;
	}

	.navbar-toggler {
		outline: 0 !important;
	}

	.nav-item .nav-link .badge {
		margin-top: -17px;
		border-radius: 4px;
		padding: 2px 6px 2px;
		letter-spacing: 0.5px;
		font-size: 82%;
	}
}

.customDropdown--Header {
	box-shadow: 0 4px 5px 0 rgba(60,75,100,.14), 0 1px 10px 0 rgba(60,75,100,.12), 0 2px 4px -1px rgba(60,75,100,.2);
	border: 0;
	top: 13px !important;

	.dropdown-item {
		padding: 10px 12px;
		outline: 0 !important;
		font-size: 15px;
		background: transparent;
		color: #3c4b64 !important;
		letter-spacing: 0.5px;
		border-bottom-color: rgba(0, 0, 0, 0.1);
	}

	.dropdown-item:focus {
		background: transparent;
	}

	.dropdown-item i {
		margin-left: 0;
		color: #aaa;
		width: 16px;
	}
}

.sidebar {
	background: #3c4b64;

	.nav {
		padding-top: 5px;
	}

	.nav-link {
		padding: 0.75rem;
	}

	.nav-link .nav-icon {
		color: #bbb;
		margin-right: 0.6rem;
	}

	.nav-link.active {
		background: #1F1F1F;
	}

	.nav-link:hover {
		background: transparent;
	}

	.nav-link.active .nav-icon {
		color: #f5f5f5;
	}
}

.filterWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 25px;
	background: #fff;
	border-radius: 6px;
	padding: 15px 10px;
	box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);

	select {
		width: 160px;
		margin-left: 12px;
	}

	.fa {
		font-size: 20px;
		color: #3c4b64;
	}
}

.filterWrap-TransactionsPg {
	flex-wrap: wrap;

	select {
		width: unset;
	}
}

// login page
.loginPgBg {
	background-image: linear-gradient(90deg, #ff409f 0%, #1F1F1F 100%) !important;
	align-items: center;
	flex-direction: row;

	.card {
		border: 0;
		background: #fff;

		.card-body {
			padding: 1rem 2rem 1.25rem;
		}
	}

	.card:first-child {
		border-right: 1px solid #FF7300;
	}

	h2 {
		color: #1F1F1F;		
		font-weight: 700 !important;
		letter-spacing: 0.3px;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 6px;
		font-size: 26px;
	}

	.btn-link {
		color: #1F1F1F;
		text-decoration: none !important;
		font-size: 14px;
		letter-spacing: 0.3px;
	}

	.BtnPurple {
		padding: 8px 24px;
		letter-spacing: 1px;
		margin-top: 17px;
		font-size: 15px;
	}
}

.loginPgContent {
	max-width: 500px;
	margin: 0 auto;
	padding-top:25px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 10px 5px rgba(85, 61, 61, 0.35);
	
	.card-group {
		background: #fff;
		border-radius: 8px;
		color: #1F1F1F;
		padding: 25px 5px 30px;
	}

	.card:first-child {
		border-right: 0;
	}
}

.company-logo {
	height: 75px;
	margin: 0 auto;
	display: block;
}

.card-group > .card {
	margin-bottom: 0;
}

.login-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	max-width: 500px;
	margin: 15px auto 10px;
}

.login-footer * {
	letter-spacing: 0.3px;
	font-size: 14px;
}

.loginPgContent {
	max-width: 500px;
	padding-top: 0;

	.card-group {
		padding: 5px 5px 2px !important;
	}

	.BtnPurple {
		margin-top: 8px;
	}
}

.personImgWrap {
	min-width: 36px;
	min-height: 36px;
	width: 36px;
	height: 36px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	padding: 2px;
	margin-right: 8px;
}

.personImg {
	width: 30px;
	min-width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.referralStatus {
	padding: 5px 10px;
	color: #fff !important;
	font-size: 14px;
	border-radius: 4px;
	font-weight: 400;
	letter-spacing: 1px;
	border-radius: 25px;
	text-decoration: none !important;

	@include glossy-button;
}

.settingsWrap, .ProfileCard {
	border: 0;
	box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.messageHeight {
	display: block;
	display: -webkit-box;
	max-width: 300px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 20px;
  max-height: 40px;
}

.ProfileCard {
	width: 100%;
	border-radius: .625rem;

	.card-header {
		height: 50px;
		background: #FF7300;
		border-top-left-radius: .625rem;
		border-top-right-radius: .625rem;
	}

	.card-body {
		padding: 0.75rem 1.2rem;
	}

	h4 {
		color: #3c4b64;
		font-weight: 600;
		font-size: 19px;
	}

	p {
		color: #818ea3;
	}
}

.profileImgWrap {
	min-width: 106px;
	min-height: 106px;
	width: 106px;
	height: 106px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	padding: 2px;
	margin-top: -50px;
}

.profileImg {
	width: 100px;
	min-width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.profileInfo {
	.list-group-item {
		border: 0;
		padding: 13px 4px;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.08);
		margin-bottom: 0;
		color: #1F1F1F;
	}

	.list-group-item:last-child {
		border-bottom: 0;
	}

	p {
		font-size: 14px;
		color: #818ea3;
		margin-bottom: 0;
		letter-spacing: 0.3px;
	}

	p span, p a {
		color: #3c4b64;
		margin-left: 10px;
		font-weight: 600;
	}

	p a {
		text-decoration: underline;
	}

	p i {
		font-size: 16px;
		vertical-align: -1px;
		margin-right: 12px;
	}
}

.profileInfo_social {
	display: flex;
	justify-content: space-between;

	a {
		display: inline-block;
		border-radius: 50%;
		text-align: center;
		width: 2rem;
		height: 2rem;
		line-height: 2rem;
		background: #e9ecef;
		color: #818ea3;
		margin: 0 4px;
		font-size: 15px;
	}
}

.idProofImgWrap {
	min-width: 131px;
	min-height: 131px;
	width: 131px;
	height: 131px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 2px;
	display: block;
	margin: 15px auto 15px;
}

.idProofImg {
	width: 125px;
	min-width: 125px;
	height: 125px;
	border-radius: 4px;
	object-fit: cover;
}

.addressWrap, .bankInfoWrap {
	margin-top: 12px;

	label {
		color: #818ea3;
		font-size: 13px;
		margin-bottom: 2px;
	}

	p {
		color: #3d5170;
		// font-weight: 400;
		// margin-bottom: 9px;
		font-weight: 600;
		padding-bottom: 6px;
		margin-bottom: 6px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
}

.addressWrap p:last-child, .addressWrap p:first-child, .bankInfoWrap p:last-child {
	border-bottom: 0;
	padding-bottom: 2px;
}

.customTabs--Truefanz {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.08);

	.nav-link, .nav-link:hover {
		border: 0;
		border-bottom: 4px solid transparent;
		text-align: center;
		padding: 0.5rem 0.75rem 0.4rem;
		color: #3c4b64;
		font-size: 15px;
	}

	.nav-link div {
		font-size: 20px;
		color: #1F1F1F;
	}

	.nav-link.active {
		border: 0;
		border-bottom: 4px solid #FF7300;
		background: transparent;
	}
}

.customTabContent--Truefanz {
	border: 0;
	margin-top: 0;
	background: transparent;

	.tab-pane {
		padding: 1.2rem 0.25rem 1rem;
	}
}

.dashboardCard, .dashboardCard-Graph {
	overflow: hidden;
	border: 0;
	border-radius: 8px;
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.dashboardCard {
  .card-header{
		background: transparent;
		padding: 0.75rem 1rem;
		border: 0;
		font-size: 18px;
		color: #818ea3;
		position: relative;

		.bgIcon {
			position: absolute;
			right: -12px;
			top: -20px;
			color: rgba(95, 66, 170, 0.75);
			font-size: 65px;
		}
	}

	.card-body {
		padding: 2rem 0.75rem 1rem;
		text-align: center;
		color: #3d5170;
		font-weight: 600;
		font-size: 21px;
	}
}

.dashboardCard-Graph .card-header {
	font-weight: 600;
	color: #3c4b64;
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.inviteAddSub {
	font-size: 17px;
	padding: 0.15rem 0.75rem;
	font-weight: bold;
	background-color: #fff;
	cursor: pointer;
} 

// media styles 
@media all and (min-width: 992px) and (max-width: 1199.98px) {
	.app-header .nav-item .nav-link {
		font-size: 13px;
	}

	.app-header .navbar-brand {
	  position: absolute;
    top: 0;
    left: 50%;
		margin-left: -77.5px;
  }
}

@media all and (min-width:768px) and (max-width: 991.98px) {
	.app-header .nav-item .nav-link {
		font-size: 12px;
	}
}

@media all and (max-width: 767.98px) {
	.loginPgBg .card-group {
		padding: 8px 5px 10px;
	}

	.company-logo {
		margin: 0 auto 12px;
		height: 62px;
	}

	.loginPgBg h2 {
		font-size: 21px;
	}
}

.react-bs-table-bordered{
	border: 0 !important;
}

.table thead th{
	color: #5a6169 !important;
	font-weight: 800;
}

@media all and (min-width: 576px) {
	.modal-dialog {
	  max-width: 650px;
	}
  }




  /*--------------------------------------------------*/
  .new-table{
	  td, th{
		  td, th{
			padding: 0 20px 0 0;
			border: 0;
			font-weight: normal;
		  }
		  td{
			padding: 0 40px 0 0;}
	  }
  }
  .events-view{
	  margin: 70px 0;
  }
  .new-card-footer p {
    font-size: 20px;
    text-align: center;
    color: #FF7300;
    margin: 0;
    font-weight: bold;
}
.event-details-card{
	padding: 0;
	.card-header{
		padding: 0;
		height: auto;
		overflow: hidden;
		img{
			max-width: 100%;
		}
	}
}
.ProfileCard{
	table{
		margin-bottom: 0;
		th{
			border-top: 0;
			text-align: center;
		}
		td{
			text-align: center;
		}
	}
	
}
img.price-icon {
    max-width: 25px;
}


/*------------------------------*/
.btn-ghost-primary, .page-link {
    color: #FF7300;

}
.BtnPurple {
	background: #FF7300 !important;
}
.page-item.active .page-link {
    background-color: #FF7300;
    border-color: #FF7300;
}
.table tbody td {
    color: #000;
}
.table-bordered td {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.ql-toolbar.ql-snow, .ql-container.ql-snow {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.fa, i{
    color: #999 !important;
}
.bgIcon i {
    color: #FF7300 !important;
}
h1, h2, h3, h4, h5, h6{
	color: #1F1F1F !important;
}
.card-Feed .card-header {
    background: rgba(255, 115, 0, 0.1) !important;
}
.table thead th {
    color: #1F1F1F !important;
}
.btn-ghost-primary:hover {
    color: #fff;
    background-color: #FF7300;
    border-color: #FF7300;
}
.BtnPurple .fa, i {
    color: #fff !important;
}
label {
    color: #000 !important;
}
.react-bs-table-pagination .col-md-6 p{
	color: #000 !important;
	margin: 10px 0 0;
}
/*-------------------------------------------------------*/
header.app-header.navbar i.icon-power{
	color: #000 !important;
}
.powered-by a {
    color: #31c5c7;
}
.navbar-nav .nav-link.active, .navbar-nav .open > .nav-link, .navbar-nav .open > .nav-link:hover, .navbar-nav .open > .nav-link:focus, .navbar-nav .active > .nav-link, .navbar-nav .active > .nav-link:hover, .navbar-nav .active > .nav-link:focus, .navbar-nav .nav-link.open, .navbar-nav .nav-link.open:hover, .navbar-nav .nav-link.open:focus, .navbar-nav .nav-link.active, .navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.active:focus {
    color: #ef7205;
} 

.loginPgBg {
	background-image: linear-gradient(180deg, #f29847 0%, #ffffff 100%) !important;
	.login-footer {		
		color: #585858;		
	}
	.forgot-icon, .icon-lock-open{
		color: #999 !important;
	}
}
.table.table-bordered input{
	width: 160px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}